# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
venv/
venv_home/

# Misc
*~
.*.sw?
.env/

# Personal
notes*.md
stash*.*
setup.sh
.pypirc
data/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Documentation
/docs
src/pyDataverse/docs/build
src/pyDataverse/docs/Makefile

# Unit test / coverage reports
.tox
.coverage
.coverage.*
.*cache
coverage.xml
*.cover
pip-wheel-metadata
pytest.ini
