# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Misc
*~
.*.sw?
.env/

# Personal
docs/
data/
notes.md
snippets.md

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Documentation
docs/build/

# Unit test / coverage reports
.tox
htmlcov/
.coverage
.coverage.*
.*cache
coverage.xml
*.cover
pip-wheel-metadata
