# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
venv/
venv_home/

# Misc
*~
.*.sw?
.env/

# Personal
src/pyDataverse/docs/build
src/pyDataverse/docs/Makefile
notes.md
notes_*.md
snippets.md
stash_*.*
src/dev/
src/testing.py

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Documentation
docs/build/

# Unit test / coverage reports
.tox
htmlcov/
.coverage
.coverage.*
.*cache
coverage.xml
*.cover
pip-wheel-metadata
pytest.ini
